# Default ignored files
/../../../1 . Conta Bancária/controle-de-fluxo/.idea/shelf/
/../../../1 . Conta Bancária/controle-de-fluxo/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../1 . Conta Bancária/controle-de-fluxo/.idea/mavenHomeManager.xml
